.services {
  background: linear-gradient(45deg, #0000ff11, #ff000011);
  padding: 5rem;
  border-radius: var(--radius);
  margin-bottom: 5rem;
}

.services h2 {
  margin-bottom: 1rem;
}

.services ul {
  list-style: none;
}

.description {
  margin-bottom: 2rem;
  max-width: var(--content-width);
}

.grid {
  display: flex;
}

.column {
  flex: 1;
}

.bigger {
  flex: 1.5;
}
