.project {
  margin-bottom: 4rem;
}

.columns {
  display: flex;
}

.left {
  padding-right: 1rem;
  flex: 0.75;
}

.right {
  flex: 0.25;
}

.project a {
  color: var(--accent);
  border-bottom: 1px solid #00000022;
  padding-bottom: 2px;
}

.project em {
  font-style: normal;
  padding: 4px 0;
  background: var(--highlight);
}

.comingSoon {
  color: var(--gray);
  opacity: 0.5;
}
