.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
}

.button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1d2055;
  backdrop-filter: blur(4px);
}

.button:hover {
  background: #1a1d20cc;
}

.buttonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  transition: 100ms opacity ease-in-out;
  cursor: pointer;
}

.left {
  left: 0;
  width: 50%;
}

.right {
  width: 50%;
  right: 0;
}

.arrow svg {
  stroke: #fff;
}

.left .buttonContainer {
  opacity: 0;
}

.right .buttonContainer {
  opacity: 0;
}

.left:hover .buttonContainer {
  opacity: 1;
}

.right:hover .buttonContainer {
  opacity: 1;
}

.right .buttonContainer {
  right: 0;
}
