.cta {
  color: #ababbc;
  background: #000;
  border-radius: var(--radius);
}

.content {
  flex: ;
  max-width: var(--content-width);
  padding: 5rem 0 5rem 5rem;
  position: relative;
  z-index: 1;
}

.cta h2 {
  color: #fff;
}

.cta a {
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--accent);
}

.cta a:hover {
  border-bottom-color: #ff0080;
}
